# --- Build e Compilação (Maven / Gradle) ---
target/
build/
dist/
.gradle/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- Logs ---
*.log
**/logs/

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws

# --- Eclipse IDE ---
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath
.recommenders/

# --- Visual Studio Code ---
.vscode/

# --- Variáveis de Ambiente / Segredos ---
.env
.env.*
*.properties.local
application-local.properties
application-local.yml

# --- OS / Sistemas Operacionais ---
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.fuse_hidden*
.directory
.Trash-*

# macOS
.DS_Store
.AppleDouble
.LSOverride